parser.tab.c
parser.tab.h
programa
interprete
gen_code
assembly.asm
lex.yy.c
utils/gen_code.o
lex.yy.o
interprete.o
parser.tab.o
tabla_simbolos/tabla.o
tabla_simbolos/tabla_simbolos.o
AST/ast.o
.vscode